.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 24px;
  background-color: transparent;
  color: var(--text-bright);
}

.left p {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.right {
  display: flex;
  align-items: center;
  gap: 24px;
}

.right svg {
  color: var(--text-main);
  cursor: pointer;
  transition: color 0.2s, transform 0.2s;
}

.right svg:hover {
  color: var(--text-bright);
  transform: translateY(-2px);
}